<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTests</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Valeurs des param.
            </NavLink>
        </li>

        @*#region Librairies*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/libraries/telerik">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telerik
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/libraries/syncfusion">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Syncfusion
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/libraries/matblazor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mat Blazor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Test
            </NavLink>
        </li>

        @*#endregion*@

        @*#region Liens générés par Visual Studio*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/default/index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/default/counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/default/fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>

        @*#endregion*@
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
