@page "/"
@page "/parameter-value/list"
@using BlazorTests.Models

@inject BlazorTests.Services.ParameterService ParameterService


<h1>Tableau de bord</h1>

<div>
    <div class="form-group row">
        <div class="col-12">
            <ParameterValueSearchCriteriaView OnSearchAsked=Search></ParameterValueSearchCriteriaView>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <ParameterValueSearchResultsView ParameterValues="@ParameterValues"></ParameterValueSearchResultsView>
        </div>
    </div>
</div>
@functions {

    public BlazorTests.Models.ParameterValue[] ParameterValues { get; set; }

    public async Task Search(int? parameterId, DateTime? startDate, DateTime? endDate)
    {
        if (parameterId.HasValue)
        {
            ParameterValues = await ParameterService.GetParameterValuesAsync(parameterId.Value, startDate, endDate);
        }
        else
        {
            ParameterValues = new ParameterValue[0];
        }
        this.StateHasChanged();
    }
}

