@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
	font-family: 'Open sans', Georgia, Arial;
	/*background-color: #EEEEEE;*/
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

/* ===========================================================================

   MENU

   ===========================================================================*/
.sidebar {
	background-color: #494746;
}

	.sidebar .top-row {
		background-color: rgba(0,0,0,0.4);
	}

	.sidebar .navbar-brand {
		font-size: 1.1rem;
	}

	.sidebar .oi {
		width: 2rem;
		font-size: 1.1rem;
		vertical-align: text-top;
		top: -2px;
	}

.nav-item {
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
}

	.nav-item:first-of-type {
		padding-top: 1rem;
	}

	.nav-item:last-of-type {
		padding-bottom: 1rem;
	}

	.nav-item a {
		color: #d7d7d7;
		border-radius: 4px;
		height: 3rem;
		display: flex;
		align-items: center;
		line-height: 3rem;
	}

		.nav-item a.active {
			background-color: rgba(255,255,255,0.25);
			color: white;
		}

		.nav-item a:hover {
			background-color: rgba(255,255,255,0.1);
			color: white;
		}

.content {
	padding-top: 1.1rem;
}

.navbar-toggler {
	background-color: rgba(255, 255, 255, 0.1);
}


/* ===========================================================================

   MEDIAS

   ===========================================================================*/

@media (max-width: 767.98px) {
	.main .top-row {
		display: none;
	}
}

@media (min-width: 768px) {
	app {
		flex-direction: row;
	}

	.sidebar {
		width: 250px;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.main .top-row {
		position: sticky;
		top: 0;
	}

	.main > div {
		padding-left: 2rem !important;
		padding-right: 1.5rem !important;
	}

	.navbar-toggler {
		display: none;
	}

	.sidebar .collapse {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}
}




/* ===========================================================================

   TABLES 

   ===========================================================================*/
/*table {
	border-collapse: separate;
	border-spacing: 0 15px;
}*/

/*tbody tr {
	border: solid thin;
	background-color: white;
	box-shadow: 1px 1px 1px #DBDBDB;
}*/

/* Arrondi des 1ers td */
/*thead tr th:first-child,
tbody tr td:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}*/

/* Arrondi des 1ers td */
/*thead tr th:last-child,
tbody tr td:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}*/

/* Permet à une colonne de se redimensionner en fonction de son contenu */
td.autoSizeToContent {
	width: 1px;
	white-space: nowrap;
}


/* ===========================================================================

   BOUTONS

   ===========================================================================*/
/* Bouton positionné dans une colonne d'une grille (on enlève la bordure) */
.btn.gridColumnButton {
	border: 0px solid transparent;
}
