BlazorTests.Server/obj/BlazorTests.Server.csproj.nuget.g.targets
BlazorTests.Client/bin/Debug/netstandard2.0/BlazorTests.Client.dll
BlazorTests.Client/bin/Debug/netstandard2.0/BlazorTests.Client.pdb
BlazorTests.Client/bin/Debug/netstandard2.0/BlazorTests.Client.blazor.config
BlazorTests.Client/bin/Debug/netstandard2.0/BlazorTests.Shared.dll
BlazorTests.Client/bin/Debug/netstandard2.0/BlazorTests.Shared.pdb
BlazorTests.Client/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Blazor.dll
BlazorTests.Client/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Blazor.Browser.dll
BlazorTests.Client/bin/Debug/netstandard2.0/Microsoft.Extensions.DependencyInjection.dll
BlazorTests.Client/bin/Debug/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/index.html
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/blazor.js
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/BlazorTests.Client.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/BlazorTests.Shared.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.AspNetCore.Blazor.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.AspNetCore.Blazor.Browser.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.Extensions.DependencyInjection.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/System.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/System.Core.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/System.Net.Http.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/mscorlib.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/_bin/netstandard.dll
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.js
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.asm.js
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.js.mem
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/wasm/mono.js
BlazorTests.Client/bin/Debug/netstandard2.0/dist/_framework/wasm/mono.wasm
BlazorTests.Client/obj/BlazorTests.Client.csproj.nuget.cache
BlazorTests.Client/obj/BlazorTests.Client.csproj.nuget.g.props
BlazorTests.Client/obj/BlazorTests.Client.csproj.nuget.g.targets
BlazorTests.Client/obj/project.assets.json
BlazorTests.Client/obj/Debug/netstandard2.0/App.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/App.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Blazor.components.input.cache
BlazorTests.Client/obj/Debug/netstandard2.0/Blazor.definition.components.json
BlazorTests.Client/obj/Debug/netstandard2.0/Blazor.inputs.txt
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.dll
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.pdb
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.AssemblyInfo.cs
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.AssemblyInfoInputs.cache
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.assets.cache
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.csproj.CopyComplete
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.csproj.CoreCompileInputs.cache
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.csproj.FileListAbsolute.txt
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTests.Client.csprojAssemblyReference.cache
BlazorTests.Client/obj/Debug/netstandard2.0/_ViewImports.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/_ViewImports.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTemp/BlazorTests.Client.dll
BlazorTests.Client/obj/Debug/netstandard2.0/BlazorTemp/BlazorTests.Client.pdb
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/Counter.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/Counter.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/FetchData.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/FetchData.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/Index.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/Index.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/_ViewImports.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/_ViewImports.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/Customers/Index.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Pages/Customers/Index.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Shared/MainLayout.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Shared/MainLayout.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Shared/NavMenu.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Shared/NavMenu.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Shared/SurveyPrompt.g.cs
BlazorTests.Client/obj/Debug/netstandard2.0/Shared/SurveyPrompt.g.i.cs
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/embedded.resources.txt
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/index.html
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/indexhtml-references.txt
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/inputs.basic.cache
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/inputs.copylocal.txt
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/inputs.index.cache
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/inputs.linker.cache
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/inputs.linkerswitch.cache
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linked.assemblies.txt
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker.descriptor.xml
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/BlazorTests.Client.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/BlazorTests.Shared.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/Microsoft.AspNetCore.Blazor.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/Microsoft.AspNetCore.Blazor.Browser.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/Microsoft.Extensions.DependencyInjection.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/Microsoft.Extensions.DependencyInjection.Abstractions.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/System.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/System.Core.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/System.Net.Http.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/mscorlib.dll
BlazorTests.Client/obj/Debug/netstandard2.0/blazor/linker/netstandard.dll
BlazorTests.Client/wwwroot/index.html
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Client.dll
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Client.pdb
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Client.blazor.config
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Server.dll
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Server.pdb
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Server.deps.json
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Server.runtimeconfig.json
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Server.runtimeconfig.dev.json
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Shared.dll
BlazorTests.Server/bin/Debug/netcoreapp2.1/BlazorTests.Shared.pdb
BlazorTests.Server/obj/BlazorTests.Server.csproj.nuget.cache
BlazorTests.Server/obj/BlazorTests.Server.csproj.nuget.g.props
BlazorTests.Server/obj/project.assets.json
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.dll
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.pdb
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.AssemblyInfo.cs
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.AssemblyInfoInputs.cache
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.RazorAssemblyInfo.cache
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.RazorAssemblyInfo.cs
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.RazorTargetAssemblyInfo.cache
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.assets.cache
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.csproj.CopyComplete
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.csproj.CoreCompileInputs.cache
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.csproj.FileListAbsolute.txt
BlazorTests.Server/obj/Debug/netcoreapp2.1/BlazorTests.Server.csprojAssemblyReference.cache
BlazorTests.Server/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BlazorTests.Server/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BlazorTests.Server/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BlazorTests.Shared/obj/Debug/netstandard2.0/BlazorTests.Shared.csprojAssemblyReference.cache
.vs/BlazorTests/v15/Server/sqlite3/storage.ide
.vs/BlazorTests/v15/Server/sqlite3/db.lock
.vs/BlazorTests/v15/Server/sqlite3/storage.ide-shm
.vs/BlazorTests/v15/Server/sqlite3/storage.ide-wal
BlazorTests.Client/BlazorTests.Client.csproj.user
.vs/BlazorTests/v15/.suo
.vs/config/applicationhost.config
BlazorTests.Shared/obj/Debug/netstandard2.0/BlazorTests.Shared.dll
BlazorTests.Shared/obj/Debug/netstandard2.0/BlazorTests.Shared.pdb
BlazorTests.Shared/obj/Debug/netstandard2.0/BlazorTests.Shared.AssemblyInfo.cs
BlazorTests.Shared/obj/Debug/netstandard2.0/BlazorTests.Shared.assets.cache
BlazorTests.Shared/obj/Debug/netstandard2.0/BlazorTests.Shared.csproj.CoreCompileInputs.cache
BlazorTests.Shared/obj/Debug/netstandard2.0/BlazorTests.Shared.csproj.FileListAbsolute.txt
BlazorTests.Shared/bin/Debug/netstandard2.0/BlazorTests.Shared.dll
BlazorTests.Shared/bin/Debug/netstandard2.0/BlazorTests.Shared.pdb
BlazorTests.Shared/obj/BlazorTests.Shared.csproj.nuget.cache
BlazorTests.Shared/obj/BlazorTests.Shared.csproj.nuget.g.props
