<div class="sidebar">
    <Menu />
</div>

<div class="main">
    <div class="top-row px-4">
    </div>
    <div class="card-header">
        <h2>@Title</h2>
    </div>
    <div class="card-body">
        @ChildContent
    </div>
</div>

@functions {
    [Parameter] private RenderFragment ChildContent { get; set; }
    [Parameter] private string Title { get; set; }
}
