@layout MainLayout
@inherits BlazorLayoutComponent

@Body

@*<div class="form-group">
    <button input="button" class="btn green" onclick="@(() => Save())">Sauvegarder</button>
    <button input="button" class="btn red" onclick="@(() => Close())">Fermer</button>
</div>*@