@page "/parameter/edit"

<h1>Saisie d'un paramètre</h1>

    @*@page "/parameter/edit"
@using BlazorTests.Models

@inject BlazorTests.Services.ParameterService ParameterService

<EditForm Model="@Parameter" OnValidSubmit="@Save">
    <div>
        <div class="form-group row">
            <div class="col-md-auto col-12">
                <label>Libellé :</label>
            </div>
            <div class="col-md-6 col-12">
                <input type="text" bind="@Text" />
            </div>
            <div class="col-md-auto col-12">
                <button class="btn btn-primary" type="submit">Sauvegarder</button>
            </div>
        </div>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@functions {

    public string Text { get; set; }
    [Parameter] public BlazorTests.Models.Parameter Parameter { get; private set; }

    protected override Task OnInitAsync()
    {
        return base.OnInitAsync();
    }

    public void Save()
    {
        ParameterService.AddParameter(this.Parameter);
    }
}*@

