@page "/parameter/edit"
@inject BlazorTests.Services.ParameterService ParameterService
@inject IJSRuntime JSRuntime
@*@using System.ComponentModel.DataAnnotations*@
@using BlazorTests.Helpers

<h1>Saisie d'un paramètre</h1>

<EditForm Model="@parameter" OnValidSubmit="@Save">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <div class="form-group row">
            <div class="col-md-auto col-12">
                <label>Libellé :</label>
            </div>
            <div class="col-md-6 col-12">
                <input type="text" bind="@parameter.Text" />
                @*<InputText id="text" bind-Value="@parameter.Text" />*@
            </div>
            <div class="col-md-auto col-12">
                <button class="btn btn-primary" type="submit">Sauvegarder</button>
            </div>
        </div>
    </div>

</EditForm>

@functions {

    //[Parameter] public BlazorTests.Models.Parameter Parameter { get; private set; }
    BlazorTests.Models.Parameter parameter = new BlazorTests.Models.Parameter();

    private void Save()
    {
        ParameterService.AddParameter(parameter);
        JavascriptFunctions.ReturnToCallerPage(JSRuntime);
    }
}
