@*@using Telerik.Blazor.Components
@using Telerik.Blazor

<div style="height:400px;">

    <TelerikChart>
        <ChartTitle Text="Site Visitors Stats"></ChartTitle>
        <ChartLegend Visible="false"></ChartLegend>

        <ChartSeriesItems>
            <ChartSeries Type="ChartSeriesType.Bar" Name="Total Visits" Data="@Series1Data">
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Bar" Name="Unique visitors" Data="@Series2Data">
            </ChartSeries>
        </ChartSeriesItems>

        <ChartValueAxes>
            <ChartValueAxis Max="140000"></ChartValueAxis>
        </ChartValueAxes>

        <ChartCategoryAxes>
            <ChartCategoryAxis Categories="@Categories"></ChartCategoryAxis>
        </ChartCategoryAxes>

    </TelerikChart>
</div>

    @code {

        public List<object> Series1Data = new List<object>() { 56000, 63000, 74000, 91000, 117000, 138000 };
        public List<object> Series2Data = new List<object>() { 52000, 34000, 23000, 48000, 67000, 83000 };
        public string[] Categories = new string[] { "Jan", "Feb", "Mar", "Apr", "May", "Jun" };
    }*@
