@using BlazorTests.Services
@using BlazorTests.Data
@using Telerik.Blazor;
@using Telerik.Blazor.Components.DropDownList
@inject BlazorTests.Services.ContactService ContactService

    <h2>TelerikDropDownList</h2>

<TelerikDropDownList Data="@DropDownListData" bind-Value=@SelectedValue Height="40" PopupHeight="170" DefaultItem="@DefaultItem" ValueField="ProductId" TextField="ProductName">
</TelerikDropDownList>

@functions  {
    public IEnumerable<Product> DropDownListData { get; set; }
    public Product DefaultItem { get; set; } = new Product()
    {
        ProductId = 0,
        ProductName = "Select a product..."
    };
    public int SelectedValue { get; set; } = 2;

    protected override void OnInit()
    {
        List<Product> products = new List<Product>();
        for (int i = 0; i < 5; i++)
        {
            products.Add(new Product()
            {
                ProductId = i,
                ProductName = "Product" + i.ToString(),
            });
        }

        DropDownListData = products.AsQueryable();
        base.OnInit();
    }

    public class Product
    {
        public int ProductId { get; set; }
        public string ProductName { get; set; }
    }
}
