@page "/libraries/telerik"
@using Telerik.Blazor.Components.TabStrip
@using  BlazorTests.Pages.Tests.TelerikTests


@*https://github.com/telerik/ui-for-blazor-examples*@
@*https://docs.telerik.com/blazor/getting-started/server-blazor*@
@*https://www.telerik.com/blogs/introducing-the-telerik-ui-for-blazor-early-preview*@
@*https://www.telerik.com/blogs/dynamically-loading-the-kendogrid-in-blazor*@
@*https://www.telerik.com/blogs/integrating-web-services-with-kendogrid-blazor-and-razor-components*@
@*https://www.telerik.com/blogs/telerik-ui-for-blazor-grid-component-basics*@


<TelerikTabStrip TabPosition="Telerik.Blazor.Components.TabStrip.TabPosition.Top">
    <TelerikTab Title="Inputs">
        <InputTestView></InputTestView>
    </TelerikTab>
    @*<TelerikTab Title="Buttons">
            <ButtonTestView></ButtonTestView>
        </TelerikTab>
        <TelerikTab Title="Grids">
            <GridTestView></GridTestView>
        </TelerikTab>
        <TelerikTab Title="Navigation">
            <NavigationTestView></NavigationTestView>
        </TelerikTab>
        <TelerikTab Title="Layout">
            <LayoutTestView></LayoutTestView>
        </TelerikTab>
        <TelerikTab Title="Notification">
            <NotificationTestView></NotificationTestView>
        </TelerikTab>*@
</TelerikTabStrip>



<br>
<br>
<p><strong>Résumé de tests</strong></p>
<br />
<ul>
    <li>TextBox : Binding OK, Champs obligatoires OK</li>
    <li>DropDownList : Binding OK, Champs obligatoires KO</li>
    <li>DatePicker : Binding OK</li>
    <li>TimePicker : Binding OK</li>
    <li>NumericTextBox : Binding OK, Champs obligatoires KO (pas de trait rouge car à la sauvegarde il me remet une valeur)</li>
    <li>CheckBox : NA</li>
    <li>RadioButton : NA</li>
    <li>Button : OK </li>
    <li>Tab : OK</li>
    <li>
        Grid : 
    </li>
    <li>Menu : </li>
    <li>Dialog : </li>
    <li>Toast : </li>
    <li>ListBox : </li>
    <li>DateTimePicker : </li>
</ul>
<br>
<br>
