@page "/libraries/telerik"
@using Telerik.Blazor.Components
@using  BlazorTests.Pages.Tests.TelerikTests


@*https://github.com/telerik/ui-for-blazor-examples*@
@*https://docs.telerik.com/blazor/getting-started/server-blazor*@
@*https://www.telerik.com/blogs/introducing-the-telerik-ui-for-blazor-early-preview*@
@*https://www.telerik.com/blogs/dynamically-loading-the-kendogrid-in-blazor*@
@*https://www.telerik.com/blogs/integrating-web-services-with-kendogrid-blazor-and-razor-components*@
@*https://www.telerik.com/blogs/telerik-ui-for-blazor-grid-component-basics*@


    <TelerikTabStrip TabPosition="TabPosition.Top">
        <TabStripTab Title="Input">
            <InputTestView></InputTestView>
        </TabStripTab>
        <TabStripTab Title="Button">
            <ButtonTestView></ButtonTestView>
        </TabStripTab>
        <TabStripTab Title="Grid">
            <GridTestView></GridTestView>
        </TabStripTab>
        <TabStripTab Title="Navigation">
            <NavigationTestView></NavigationTestView>
        </TabStripTab>
        <TabStripTab Title="Layout">
            <LayoutTestView></LayoutTestView>
        </TabStripTab>
        <TabStripTab Title="Notification">
            <NotificationTestView></NotificationTestView>
        </TabStripTab>
        <TabStripTab Title="Chart">
            <ChartTestView></ChartTestView>
        </TabStripTab>
    </TelerikTabStrip>



<br>
<br>
<p><strong>Résumé de tests</strong></p>
<br />
<ul>
    <li>TextBox : Binding OK, Champs obligatoires OK</li>
    <li>DropDownList : Binding OK, Champs obligatoires KO</li>
    <li>DatePicker : Binding OK</li>
    <li>TimePicker : Binding OK</li>
    <li>NumericTextBox : Binding OK, Champs obligatoires OK</li>
    <li>CheckBox : NA</li>
    <li>RadioButton : NA</li>
    <li>Button : OK </li>
    <li>Tab : OK</li>
    <li>
        Grid : OK. Triable, filtrable, groupable, sélectionnable par case à cocher. Reste quelques soucis à savoir :
        <ul>
            <li>Pas de moyen simple d'afficher une colonne CheckBox (Template avec input type="checkbox" bindé sur la propriété)</li>
            <li>Pas d'export Excel</li>
        </ul>
    </li>
    <li>
        Menu : mitigé car :
        <ul>
            <li>j'ai l'impression qu'il faut utiliser obligatoirement une url (je n'ai pas trouvé de moyen de gérer le clic sur le menu).</li>
            <li>on ne peut pas créer le menu dans le HTML. Il faut le faire par code</li>
        </ul>
    </li>
    <li>Dialog : OK. Tout simplement génial.</li>
    <li>Toast : Cette notion n'existe pas vraiment. Il est possible d'arriver au même résultat avec un peu de code et de css</li>
    <li>ListBox : </li>
    <li>DateTimePicker : OK</li>
    <li>Chart : OK. Manque juste un tooltip sur la valeur au passage de la souris</li>
</ul>
<br>
<br>
