@inherits ComponentBase

<div class="main">
    <div class="card-body bg-white px-4" style="margin-bottom:20px;">
        <h2>@Title</h2>
    </div>

    <div class="card-body bg-white componentTransition">
        @ChildContent
    </div>
</div>

@functions {
    [Parameter] private RenderFragment ChildContent { get; set; }
    [Parameter] private string Title { get; set; }
}
