@inherits ComponentBase

<button class="btn btn-outline-danger btn-xs gridColumnButton" onclick="@Show">
    <span class="fa fa-trash" aria-hidden="true"></span>
</button>

<TelerikWindow Width="500" Height="200" Centered="true" Visible="@IsVisible">
    <TelerikWindowTitle>
        <strong>Confirmation de suppression</strong>
    </TelerikWindowTitle>
    <TelerikWindowActions>
        <TelerikWindowAction Name="Close"></TelerikWindowAction>
    </TelerikWindowActions>
    <TelerikWindowContent>
        <form class="k-form">

            <p>Etes vous sûr de vouloir supprimer cet enregistrement ?</p>

            <button type="button" class="btn btn-secondary" onclick=@Delete>Supprimer</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=@Hide>Annuler</button>

        </form>
    </TelerikWindowContent>
</TelerikWindow>

@functions {
    [Parameter] private Action DeleteAction { get; set; }
    private bool IsVisible { get; set; } = false;

    void Show()
    {
        this.IsVisible = true;
        this.StateHasChanged();
    }

    void Hide()
    {
        this.IsVisible = false;
        this.StateHasChanged();
    }

    void Delete()
    {
        DeleteAction.Invoke();
        Hide();
    }
}
