@layout EditLayout
@page "/customer/edit"
@page "/customer/edit/{IdAsString}"
@inherits CustomerEditComponent


<div class="panel-body">

    <div class="form-group ">
        <label class="control-label col-md-2">Nom</label>
        <div class="col-md-5">
            <input class="form-control" type="text" bind=@Name />
        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-md-2">Prénom</label>
        <div class="col-md-5">
            <input class="form-control" type="text" bind=@FirstName />
        </div>
    </div>

    <div class="form-group">
        <button input="button" class="btn btn-light" onclick="@(() => Save())">
            <span class="oi oi-check" style="color:green" aria-hidden="true"></span> Sauvegarder
        </button>
        <button input="button" class="btn btn-light" onclick="@(() => Close())">
            <span class="oi oi-x" style="color:red" aria-hidden="true"></span> Fermer
        </button>
    </div>

</div>