@layout EditLayout
@page "/customer/edit"
@page "/customer/edit/{IdAsString}"
@inherits CustomerEditComponent


<div class="panel-body">

    <div class="form-group ">
        <label class="control-label col-md-2">Nom</label>
        <div class="col-md-5">
            <input class="form-control" type="text" bind=@Name />
        </div>
    </div>

    <div class="form-group ">
        <label class="control-label col-md-2">Prénom</label>
        <div class="col-md-5">
            <input class="form-control" type="text" bind=@FirstName />
        </div>
    </div>

    <div class="form-group">
        <button input="button" class="btn green" onclick="@(() => Save())">Sauvegarder</button>
        <button input="button" class="btn red" onclick="@(() => Close())">Fermer</button>
    </div>

</div>