@using Syncfusion.EJ2.RazorComponents.Inputs
@using System.ComponentModel.DataAnnotations
@using BlazorTests.Services
@inject BlazorTests.Services.JsInteropService JsInteropService

@*Le binding n'est pas encore géré (voir liens) *@
@*https://www.syncfusion.com/forums/143535/data-bind*@
@*https://www.syncfusion.com/feedback/5437/blazor-data-bind-model-support-for-input-components*@

<EditForm Model="@this" OnValidSubmit="@(() => Save())">

    <div class="row">
        <div class="col-auto">
            <EjsTextBox id="lastNameTextBox" placeholder="Nom" Value="@LastName" ShowClearButton="true" floatLabelType="@FloatLabelType.Auto"></EjsTextBox>
        </div>
        <div class="col-auto">
            <button type="submit">Sauvegarder</button>
        </div>
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@functions {
    [Required]
    public string LastName { get; set; }

    public void Save()
    {
        JsInteropService.ShowAlert("Saved").GetAwaiter().GetResult();
    }
}
