@page "/libraries/matblazor"
@using MatBlazor

<div class="row">
    <div class="col-12">
        <MatTabGroup>
            <MatTab Label="Inputs">
                <InputTestView></InputTestView>
            </MatTab>
            <MatTab Label="Buttons">
                <ButtonTestView></ButtonTestView>
            </MatTab>
            <MatTab Label="Grids">
                <GridTestView></GridTestView>
            </MatTab>
            <MatTab Label="Navigation">
                <NavigationTestView></NavigationTestView>
            </MatTab>
            <MatTab Label="Layout">
                <LayoutTestView></LayoutTestView>
            </MatTab>
            <MatTab Label="Notification">
                <NotificationTestView></NotificationTestView>
            </MatTab>
        </MatTabGroup>
    </div>
</div>
<br />
<br />
<div class="row">
    <p><strong>Résumé de tests</strong></p>
    <br />
    <ul>
        <li>TextBox : Binding OK, Champs obligatoires OK</li>
        <li>DropDownList : Binding KO (uniquement string et pas int?)n Champs obligatoires KO  (fonctionne mais pas de trait sous le controle en cas d'erreur)</li>
        <li>DatePicker : Binding OK, Champs obligatoires OK</li>
        <li>TimePicker : Binding OK, Champs obligatoires KO (impossible de supprimer la valeur une fois mise)</li>
        <li>NumericTextBox : Binding OK/KO (uniquement decimal? et pas int?), Champs obligatoires KO (fonctionne mais pas de trait sous le controle en cas d'erreur)</li>
        <li>CheckBox : Binding OK/KO (si bool et pas bool?), Champs obligatoires KO (bool? impossible)</li>
        <li>RadioButton : Binding KO (string uniquement et pas int?), Champs obligatoires OK</li>
        <li>Button : </li>
        <li>Tab : OK</li>
        <li>Grid : KO (System.InvalidOperationException: Cannot provide a value for property 'Http')</li>
        <li>Menu : OK</li>
        <li>Dialog : Mitigé car fonctionne très bien mais nécessite d'ajouter le code de boite de dialogue dans la page HTML</li>
        <li>Toast : OK</li>
        <li>ListBox : KO. Les données s'affichent mais je n'arrive pas à binder la valeur à ma propriété</li>
        <li>DateTimePicker : Binding OK, Champs obligatoires OK</li>
        <li>Application Bar : ? Je ne trouve pas d'exemple où il y a un menu. Du coup, sert juste à afficher le titre de l'application donc...</li>
    </ul>
</div>
