@using MatBlazor
@using System.ComponentModel.DataAnnotations
@using BlazorTests.Services
@inject BlazorTests.Services.JsInteropService JsInteropService


<EditForm Model="@this" OnValidSubmit="@(() => Save())">

    <div class="row">
        <div class="col-auto">
            <MatTextField @bind-Value="@LastName" Label="Standard"></MatTextField>
        </div>
        <div class="col-auto">
            <button type="submit">Sauvegarder</button>
        </div>
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    [Required]
    public string LastName { get; set; }

    public Task Save()
    {
        return JsInteropService.ShowAlert($"LastName = {LastName}");
    }
}
