@using MatBlazor
@inject BlazorTests.Services.JsInteropService JsInteropService


<div class="row">
    <div class="col-auto">
        Menu :
    </div>
    <div class="col-auto">
        <MatButton Label="Fichier" OnClick="@FileMenuClick" RefBack="@buttonForwardRef"></MatButton>
        <MatMenu @ref="FileMenu" TargetForwardRef="@buttonForwardRef">
            <MatList>
                <MatListItem @onclick="OpenButtonClick">Ouvrir</MatListItem>
                <MatListItem>Sauvegarder</MatListItem>
                <MatListItem>Quitter</MatListItem>
            </MatList>
        </MatMenu>
    </div>
</div>

@code
        {
    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu FileMenu;

    public void FileMenuClick(MouseEventArgs e)
    {
        this.FileMenu.OpenAsync();
    }

    public void OpenButtonClick(MouseEventArgs e)
    {
        JsInteropService.ShowAlert("Clic sur le bouton 'Ouvrir'");
    }
}


