@inherits ComponentBase

<div class="main">
    <div class="card-body bg-white px-4" style="margin-bottom:20px;">
        <h2>@Title</h2>
    </div>
    <div class="card-body bg-white componentTransition">
        @ChildContent
    </div>
    <div class="card-footer bg-white" style="margin-top:20px;height:60px;">
        <div class="form-group float-right">
            <button input="button" class="btn btn-light" @onclick="@(() => Save())">
                <span class="fa fa-check" style="color:green" aria-hidden="true"></span> Sauvegarder
            </button>
            <button input="button" class="btn btn-light" @onclick="@(() => Cancel())">
                <span class="fa fa-times" style="color:red" aria-hidden="true"></span> Fermer
            </button>
        </div>
    </div>
</div>

@code {
    #region Propriétés bindées

    [Parameter]
    protected RenderFragment ChildContent { get; set; }

    [Parameter]
    protected string Title { get; set; }

    [Parameter]
    private Func<Task> SaveAction { get; set; }

    [Parameter]
    private Func<Task> CancelAction { get; set; }

    #endregion

    #region  Sauvegarde / Fermeture

    protected Task Save()
    {
        return SaveAction.Invoke();
    }

    protected Task Cancel()
    {
        return CancelAction.Invoke();
    }

    #endregion
}
