@using Syncfusion.EJ2.Blazor.DropDowns
@using System.ComponentModel.DataAnnotations
@using BlazorTests.Services
@using BlazorTests.Data
@using System.Linq
@inject BlazorTests.Services.JsInteropService JsInteropService
@inject BlazorTests.Services.ReferenceService ReferenceService




<EditForm Model="@this" OnValidSubmit="@Save">

    <div class="row">
        <div class="col-auto">
            <EjsDropDownList TValue="int?"  @bind-value="ActivityId" DataSource="Activities" placeholder="Selectionner une activité" PopupHeight="220px">
                <DropDownListFieldSettings value="Id" text="Text"></DropDownListFieldSettings>
            </EjsDropDownList>
        </div>
        <div class="col-auto">
            <button type="submit">Sauvegarder</button>
        </div>
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>


@code {

    [Required]
    public int? ActivityId { get; set; }
    public IList<ActivityEntity> Activities { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Activities = await ReferenceService.GetActivityEntities();
    }

    public Task Save()
    {
        return JsInteropService.ShowAlert($"ActivityId = {this.ActivityId}");
    }
}
