@using System.ComponentModel.DataAnnotations
@using Syncfusion.EJ2.Blazor.Calendars

    <EditForm Model="@this" OnValidSubmit="@Save">

        <div class="row">
            <div class="col-auto">
                <EjsDatePicker id="datepicker" placeholder="Sélectionner une date" @bind-value="@Date" ShowClearButton="true"></EjsDatePicker>
            </div>
            <div class="col-auto">
                <button type="submit">Sauvegarder</button>
            </div>
        </div>

        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>

@code {
    [Required]
    public DateTime? Date { get; set; }

    public async Task Save()
    {
        await JsInteropService.ShowAlert($"Date : {Date}");
    }
}