@using Syncfusion.EJ2.RazorComponents.Inputs
@using System.ComponentModel.DataAnnotations
@using BlazorTests.Services
@inject BlazorTests.Services.JsInteropService JsInteropService

<EditForm Model="@this" OnValidSubmit="@Save">

    <div class="row">
        <div class="col-auto">
            <EjsTextBox id="lastNameTextBox" placeholder="Nom" @bind-value="@LastName" ShowClearButton="true" floatLabelType="@FloatLabelType.Auto"></EjsTextBox>
        </div>
        <div class="col-auto">
            <button type="submit">Sauvegarder</button>
        </div>
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@functions {
    [Required]
    public string LastName { get; set; }

    public async Task Save()
    {
        await JsInteropService.ShowAlert($"LastName : {LastName}");
    }
}
