
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.Popups
@using Syncfusion.EJ2.Blazor.Buttons

<div class="row">
    <div class="col-auto">
        Dialog :
    </div>

    <div class="col-auto">
       <EjsButton @onclick="@ShowDialogButtonClick">Afficher une fenêtre</EjsButton>
        <EjsDialog @ref="DialogObj" Width="500px" Height="800px" ShowCloseIcon="true">
            <DialogTemplates>
                <Header> About SYNCFUSION succinctly series </Header>
                <Content>
                    <p>In the Succinctly series, Syncfusion created a robust, free library of more than 130 technical e - books formatted for PDF, Kindle, and EPUB.<br> <br>The Succinctly series was born in 2012 out of a desire to provide concise technical e-books for software developers.Each title in the Succinctly series is written by a carefully chosen expert and provides essential content in about 100 pages.</p>
                    <EjsButton @onclick="@CloseDialogButtonClick">Fermer</EjsButton>
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton ButtonModel="@DialogBtn"></DialogButton>
            </DialogButtons>
        </EjsDialog>
    </div>
</div>

@code
{
    EjsDialog DialogObj;
    public void ShowDialogButtonClick(MouseEventArgs e)
    {
        this.DialogObj.Show();
    }

    public void CloseDialogButtonClick(MouseEventArgs e)
    {
        this.DialogObj.Hide();
    }

    public ButtonModel DialogBtn = new ButtonModel { Content = "<a id='newTab' href='https://www.syncfusion.com/company/about-us' target='_blank'>Learn More</a>", IsPrimary = true };
}

