@page "/libraries/syncfusion"
@using Syncfusion.EJ2.Blazor.Navigations
@using BlazorTests.Pages.Tests.SyncfusionTests



<div id="InputTestView" style="display: none">
    <InputTestView></InputTestView>
</div>
<div id="GridTestView" style="display: none">
    <GridTestView></GridTestView>
</div>

<EjsTab>
    <TabItems>
        <TabItem Content="#InputTestView">
            <ChildContent>
                <TabHeader Text="Inputs"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#GridTestView">
            <ChildContent>
                <TabHeader Text="Grid"></TabHeader>
            </ChildContent>
        </TabItem>

    </TabItems>
</EjsTab>

<br>
<br>
<p><strong>Résumé de tests</strong></p>
<br />
<p>ATTENTION : tous les contrôles syncfusion nécessite que la propriété id soit renseigné sinon ils ne s'affichent pas (signe qu'il ne s'agit pas de composants natifs mais de wrapper javascript</p>
<ul>
    <li>
        Tous les contrôles : depuis la preview 9, le binding ne semble plus fonctionner. De plus, la vérification des champs obligatoires ne semble pas fonctionner avec ValidationSummary et DataAnnotationsValidator
        Exemple : si je reprends l'exemple présent sur leur site pour le TextBox, impossible de modifier la valeur
    </li>
    <li>TextBox : Binding KO, Champs obligatoires KO</li>
    <li>DropDownList : Binding KO (la liste s'affiche mais pas de synchro de la valeur sélectionnée), Champs obligatoires KO</li>
    <li>DatePicker : </li>
    <li>TimePicker : </li>
    <li>NumericTextBox : </li>
    <li>CheckBox : </li>
    <li>RadioButton : </li>
    <li>Button : </li>
    <li>
        Tab : KO car ne gère pas la notion de Template => impossible de définir le contenu d'un TabItem directement.
        Il faut passer par un div caché contenant le contenu à afficher (voir dans le source de cette page) => code pourri
    </li>
    <li>Grid : Mitigé car fonctionne mais :
        <ul>
            <li>
                Impossible d'afficher une date française (yMd et reconnu mais pas dMy)
            </li>
            <li>
                Par défaut, le filtrage fonctionne si on saisit le texte complet mais pas le début
            </li>
        </ul>
    </li>
    <li>Menu : </li>
    <li>Dialog : </li>
    <li>Toast : </li>
    <li>ListBox : </li>
    <li>DateTimePicker : </li>
</ul>
<br>
<br>
<p>nuget : Syncfusion.EJ2.Blazor</p>
<a href="https://ej2.syncfusion.com/aspnet-core-blazor/documentation/getting-started/dotnet-cli-blazor-server/">https://ej2.syncfusion.com/aspnet-core-blazor/documentation/getting-started/dotnet-cli-blazor-server/</a>
<br>
<a href="https://ej2.syncfusion.com/home/aspnet-core-blazor.html">https://ej2.syncfusion.com/home/aspnet-core-blazor.html</a>
<br>
<a href="https://ej2.syncfusion.com/aspnet-core-razor-components/Calendar/DefaultFunctionalities">https://ej2.syncfusion.com/aspnet-core-razor-components/Calendar/DefaultFunctionalities</a>
<br>
<a href="https://blog.syncfusion.com/post/introducing-syncfusions-asp-net-core-blazor-razor-components.aspx">https://blog.syncfusion.com/post/introducing-syncfusions-asp-net-core-blazor-razor-components.aspx</a>
<br>
