@page "/libraries/syncfusion"
@using Syncfusion.EJ2.Blazor.Navigations
@using BlazorTests.Pages.Tests.SyncfusionTests



<div id="EjsTextBox" style="display: none">
    <EjsTextBoxTestView></EjsTextBoxTestView>
</div>
<div id="EjsDropDownList" style="display: none">
    <EjsDropDownListTestView></EjsDropDownListTestView>
</div>
<div id="EjsDatePickerTestView" style="display: none">
    <EjsDatePickerTestView></EjsDatePickerTestView>
</div>
<div id="EjsGridTestView" style="display: none">
    <EjsGridTestView></EjsGridTestView>
</div>

<EjsTab>
    <TabItems>
        <TabItem Content="#EjsTextBox">
            <ChildContent>
                <TabHeader Text="EjsTextBox"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#EjsDropDownList">
            <ChildContent>
                <TabHeader Text="EjsDropDownList"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#EjsDatePickerTestView">
            <ChildContent>
                <TabHeader Text="EjsDatePickerTestView"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#EjsGridTestView">
            <ChildContent>
                <TabHeader Text="EjsGridTestView"></TabHeader>
            </ChildContent>
        </TabItem>

    </TabItems>
</EjsTab>

<br>
<br>
<p><strong>Résumé de tests</strong></p>
<br />
<p>ATTENTION : tous les contrôles syncfusion nécessite que la propriété id soit renseigné sinon ils ne s'affichent pas (signe qu'il ne s'agit pas de composants natifs mais de wrapper javascript</p>
<ul>
    <li>Tous les contrôles : depuis la preview 9, le binding ne semble plus fonctionner. Exemple : si je reprends l'exemple présent sur leur site pour le TextBox, impossible de modifier la valeur</li>
    <li>
        TabControl : ne gère pas la notion de Template => impossible de définir le contenu d'un TabItem directement.
        Il faut passer par un div caché contenant le contenu à afficher (voir dans le source de cette page) => code pourri
    </li>
</ul>
<br>
<br>
<p>nuget : Syncfusion.EJ2.Blazor</p>
<a href="https://ej2.syncfusion.com/aspnet-core-blazor/documentation/getting-started/dotnet-cli-blazor-server/">https://ej2.syncfusion.com/aspnet-core-blazor/documentation/getting-started/dotnet-cli-blazor-server/</a>
<br>
<a href="https://ej2.syncfusion.com/home/aspnet-core-blazor.html">https://ej2.syncfusion.com/home/aspnet-core-blazor.html</a>
<br>
<a href="https://ej2.syncfusion.com/aspnet-core-razor-components/Calendar/DefaultFunctionalities">https://ej2.syncfusion.com/aspnet-core-razor-components/Calendar/DefaultFunctionalities</a>
<br>
<a href="https://blog.syncfusion.com/post/introducing-syncfusions-asp-net-core-blazor-razor-components.aspx">https://blog.syncfusion.com/post/introducing-syncfusions-asp-net-core-blazor-razor-components.aspx</a>
<br>
