@page "/libraries/syncfusion"
@using Syncfusion.EJ2.Blazor.Navigations
@using BlazorTests.Pages.Tests.SyncfusionTests



<div id="InputTestView" style="display: none">
    <InputTestView></InputTestView>
</div>
<div id="GridTestView" style="display: none">
    <GridTestView></GridTestView>
</div>
<div id="ButtonTestView" style="display: none">
    <ButtonTestView></ButtonTestView>
</div>
<div id="NavigationTestView" style="display: none">
    <NavigationTestView></NavigationTestView>
</div>
<div id="LayoutTestView" style="display: none">
    <LayoutTestView></LayoutTestView>
</div>
<div id="NotificationTestView" style="display: none">
    <NotificationTestView></NotificationTestView>
</div>
<div id="ChartTestView" style="display: none">
    <ChartTestView></ChartTestView>
</div>


<EjsTab>
    <TabItems>
        <TabItem Content="#InputTestView">
            <ChildContent>
                <TabHeader Text="Input"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#ButtonTestView">
            <ChildContent>
                <TabHeader Text="Button"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#GridTestView">
            <ChildContent>
                <TabHeader Text="Grid"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#NavigationTestView">
            <ChildContent>
                <TabHeader Text="Navigation"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#LayoutTestView">
            <ChildContent>
                <TabHeader Text="Layout"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#NotificationTestView">
            <ChildContent>
                <TabHeader Text="Notification"></TabHeader>
            </ChildContent>
        </TabItem>

        <TabItem Content="#ChartTestView">
            <ChildContent>
                <TabHeader Text="Chart"></TabHeader>
            </ChildContent>
        </TabItem>

    </TabItems>
</EjsTab>



<br>
<br>
<p><strong>Résumé de tests</strong></p>
<br />
<p>ATTENTION : tous les contrôles syncfusion nécessite que la propriété id soit renseigné sinon ils ne s'affichent pas (signe qu'il ne s'agit pas de composants natifs mais de wrapper javascript</p>
<ul>
    <li>
        Tous les contrôles : pas encore compatible avec la preview 9 => le binding ne fonctionne plus.
        A REVOIR car le fichier css n'était pas bon.
    </li>
    <li>TextBox : Binding KO, Champs obligatoires KO</li>
    <li>DropDownList : Binding KO (la liste s'affiche mais pas de synchro de la valeur sélectionnée), Champs obligatoires KO</li>
    <li>DatePicker : Binding KO</li>
    <li>TimePicker : Binding KO</li>
    <li>NumericTextBox : Binding KO</li>
    <li>CheckBox : Binding KO</li>
    <li>RadioButton : Binding KO</li>
    <li>Button : OK </li>
    <li>
        Tab : KO car ne gère pas la notion de Template => impossible de définir le contenu d'un TabItem directement.
        Il faut passer par un div caché contenant le contenu à afficher (voir dans le source de cette page) => code pourri
    </li>
    <li>
        Grid : Mitigé car fonctionne mais :
        <ul>
            <li>
                Impossible d'afficher une date française (yMd et reconnu mais pas dMy)
            </li>
            <li>
                Par défaut, le filtrage fonctionne si on saisit le texte complet mais pas le début
            </li>
        </ul>
    </li>
    <li>Menu : KO : il faut définir le menu dans le code et je ne vois pas comment appeler une méthode du composant (uniquement une uri)</li>
    <li>Dialog : KO. Je n'arrive pas à le faire fonctionner et en plus ça me paraît vraiement "vieille école"</li>
    <li>Toast : KO. Ne fonctionne pas. J'ai repris le code de l'exemple de leur site, rien n'y fait</li>
    <li>ListBox : Binding KO</li>
    <li>DateTimePicker : Binding KO</li>
    <li>Chart : </li>
</ul>
<br>
<br>
<p>nuget : Syncfusion.EJ2.Blazor</p>
<a href="https://ej2.syncfusion.com/aspnet-core-blazor/documentation/getting-started/dotnet-cli-blazor-server/">https://ej2.syncfusion.com/aspnet-core-blazor/documentation/getting-started/dotnet-cli-blazor-server/</a>
<br>
<a href="https://ej2.syncfusion.com/home/aspnet-core-blazor.html">https://ej2.syncfusion.com/home/aspnet-core-blazor.html</a>
<br>
<a href="https://ej2.syncfusion.com/aspnet-core-razor-components/Calendar/DefaultFunctionalities">https://ej2.syncfusion.com/aspnet-core-razor-components/Calendar/DefaultFunctionalities</a>
<br>
<a href="https://blog.syncfusion.com/post/introducing-syncfusions-asp-net-core-blazor-razor-components.aspx">https://blog.syncfusion.com/post/introducing-syncfusions-asp-net-core-blazor-razor-components.aspx</a>
<br>
