@using BlazorTests.Shared
@page "/customer"
@inherits IndexComponent

<h1>@Title</h1>


@if (@Customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>
                        <button class="btn green" onclick="@(() => EditCustomer(customer.Id) )">...</button>
                        <button class="btn red" onclick="@(() => ConfirmDelete() )">x</button>
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
}

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm delete</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @*<input type="hidden" id="bookToDeleteField" bind=@DeleteId />*@
                    Are you sure you want to delete book <span id="bookTitleField"></span>?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
